header{
    top: 0;
  }

.nav{
    margin: 0 36px 0 36px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.25rem;
    box-sizing: border-box;
}

.nav .nav-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 1rem;
    list-style: none;
}

.nav .nav-item{
    display: block;
    padding: 0.5rem 2rem;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.nav #logo{
    height: 3em;
}