#intro {
    display: flex;
    justify-content: center;
    padding: 10vw 0;
    width: 100%;
}

#intro .intro-container {
    display: grid;
    grid-template-columns: 30vw 30vw;
    gap: 7vw;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#intro article:first-of-type{
    box-sizing: border-box;
    height: 100%;
}

#intro article:first-of-type div{
    height: 100%;
    width: inherit;
}

#intro .intro-desc{
    justify-content: center;
    gap: .5em;
    padding: 1vw 3vw;
    box-sizing: border-box;

}

#intro article:last-of-type{
    position: relative;
    height: fit-content;
}

#intro p{
    margin: 0;
    padding: 1.5vw;
}

#intro img{
    width: 30vw;
}

.elevate{
    font-family: "elevate";
    font-size: 24px;
}

@font-face {
    font-family: "elevate";
    src: url("https://db.onlinewebfonts.com/t/f69ff86e79388ae1f8ab4cb56d45a0d3.ttf")format("truetype");
}